.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modalContainer {
  width: 500px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  color: orange;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.openModalBtn {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}

#submit-btn{
  text-decoration: none;
  padding: 10px 12px;
  background-color: skyblue;
  color: white;
  text-align: center;
}

.errors{
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.eye-icon{
  position: absolute;
  top:63%;
  left: 75%;
  cursor: pointer;
  z-index: 1;
}

.with-tooltip {
  position: relative;
  padding: 3px;
}

.with-tooltip::after {
  content: attr(data-tooltip-content);
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  color: white;
  bottom: 115%;
  right: 50%;
  left: 50%;
  width: max-content;
  background-color: gray;
  opacity: 0;
  font-size: 0.8rem;
  visibility: hidden;
  transform: translate(-22%, 18px) scale(0.8);
  transition: visibility, opacity, transform 200ms;
}

.with-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-22%, 0);
}

.alert{
  width: 270px;
  height: 30px;
  padding: 2px 10px;
  position: absolute;
  left: 50%;
}

.close-btn{
  border: none;
  background-color: transparent;
  position: relative;
  left: 7%;
}